<%= form_with(model: project, local: true, multipart: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: "label" %>
    <%= form.text_field :title, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :thumbnail, "Project Thumbnail", class: "label" %>
    <%= form.text_field :donation_goal %>
  </div>
<div class="field">
      <%= form.label :thumbnail, class: "label" %>
      <%= form.file_field :thumbnail, class: "input" %>
    </div>

    <div class="field">
      <%= form.label :description, class: "label" %>
      <%= form.rich_text_area :description, class: "input" %>
    </div>

  <div class="actions">
    <%= form.submit class: "btn btn-default" %>
  </div>
<% end %>
